{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% block css %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="/web/static/flipclock/flipclock.css">
    {% endblock css %}

    {% block javascript %}
        {% bootstrap_javascript jquery=True %}
        <script src="{% static '/web/static/jquery.noty.packaged.min.js' %}"></script>
        <script src="{% static '/web/static/flipclock/flipclock.min.js' %}"></script>
    {% endblock javascript %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>